extends layout
block scripts 
    script(src="JS/About.js", defer) 
block content
    img(class="welcome_img", src="/ICONS/on_keyboard.jpeg", alt="Welcome to My Website ICON")
    div(class="container", id="about_container")
        h1(class="title") #{container_title}
        p Practice is the key to success. This website is meant to be used by everyone who wants to improve their english. This Site provides an interactive quiz to improve vocabulary, grammar, and word usage. The technological environment increases the engagement and motivation for practice.
        h2 So rest in ease because everything will
        h2 " Be All Right "
        
