doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="CSS/index.css")
        link(rel="shortcut icon", href="images/main_page_bg.jpg")
        block scripts
        title #{title}
        script(src="JS/clientSide.js", defer) 

    body 
        nav(class="topnav", id="login-nav") 
            ul 
                li 
                    a(href="/MainPage") HOME 
                li(class="dropdown") 
                    a(href="/UserProfile", class="dropbtn") User Profile
                    div(class="dropdown-content")
                        a(href="/UserProfile") My Profile
                        a(href="/login") Sign Out    
                li 
                    a(href="/About") About
        block content